In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('BaseballPlayers.csv')

In [3]:
df.head(20)

   Team           Position  Weight    Age
0   BAL            Catcher   180.0  22.99
1   BAL            Catcher   215.0  34.69
2   BAL            Catcher   210.0  30.78
3   BAL      First_Baseman   210.0  35.43
4   BAL      First_Baseman   188.0  35.71
5   BAL     Second_Baseman   176.0  29.39
6   BAL          Shortstop   209.0  30.77
7   BAL      Third_Baseman   200.0  35.07
8   BAL      Third_Baseman   231.0  30.19
9   BAL         Outfielder   180.0  27.05
10  BAL         Outfielder   188.0  23.88
11  BAL         Outfielder   180.0  26.96
12  BAL         Outfielder   185.0  23.29
13  BAL         Outfielder   160.0  26.11
14  BAL         Outfielder   180.0  27.55
15  BAL         Outfielder   185.0  34.27
16  BAL  Designated_Hitter   197.0  30.00
17  BAL   Starting_Pitcher   189.0  27.99
18  BAL   Starting_Pitcher   185.0  22.38
19  BAL   Starting_Pitcher   219.0  22.89

### Objective: Summarize baseball players data by position and: <br>
> 1. Count: 'count'
> 2. Min:   'min'
> 3. Max:   'max'
> 4. Mean:  'mean'
> 5. Median: 'median'
> 6. std:    'std'
> 7. mad:    'mad'
> 8. skew:   'skew'

In [4]:
bygroup_team = df.groupby(['Position'])['Weight']
bygroup_team

In [8]:
df2 = bygroup_team.aggregate(['count', 'min', 'max', 'mean', 'median', 'std', 'mad', 'skew']).round(1)

In [10]:
df2.columns = ['Count', 'Min', 'Max', 'Mean', 'Median', 'std', 'MAD', 'Skewness']

In [11]:
df2

                   Count    Min    Max   Mean  Median   std   MAD  Skewness
Position
Catcher               76  170.0  245.0  204.3   205.0  15.7  13.0       0.1
Designated_Hitter     18  195.0  275.0  220.9   224.5  22.1  17.8       0.8
First_Baseman         55  180.0  260.0  213.1   220.0  19.0  15.6      -0.0
Outfielder           194  160.0  257.0  199.1   200.0  18.4  14.9       0.1
Relief_Pitcher       315  150.0  278.0  203.5   200.0  21.7  17.2       0.3
Second_Baseman        58  160.0  210.0  184.3   185.0  11.0   8.5      -0.0
Shortstop             52  150.0  210.0  182.9   180.0  14.5  12.0      -0.1
Starting_Pitcher     220  150.0  290.0  205.2   205.0  22.1  17.5       0.4
Third_Baseman         45  155.0  240.0  201.0   200.0  18.1  14.0      -0.1